page-login {

    /****
    ** VORMGEVING SJOERD **
    ion-content {
        // position:absolute;
        // left:30%;
        // width: 40%;
    }

    h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }

    @media screen and (orientation: landscape) {
        img {
            padding-top: 5%;
        }
    
        h1 {
            padding: 0 0 5% 0;
        }
      }
      
      @media screen and (orientation: portrait) {
        img {
            padding-top: 25%;
        }
    
        h1 {
            padding: 10% 0 10% 0;
        }
    }

    .fail {
        font-size: 12px;
        color: red;
    }

    .card {
        background: linear-gradient(white, grey);
    }

    .gegevens {
        border: 1px solid grey;
        border-radius: 10px;
    }

    .loginbutton {      
        border-radius: 10px;
        background-color: #266286;
     }

    .remember {
        padding: 0px;
        background-color: transparent;
    }

    .toggle.toggle-checked .toggle-inner{
        background-color: #266286;
    } 
    */
    
    ion-content {
        background-color: #fafafa !important;
    }
    
    .outer {
        display: table;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .middle {
        display: table-cell;
        vertical-align: middle;
    }

    .inner {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        max-width: 440px;
        width: calc(100% - 40px);
        padding: 44px;
        margin-bottom: 28px;
        background-color: #fff;
        border: 1px solid #e6e6e6;
        min-width: 320px;
        min-height: 338px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 7px;
    }

    .button {
        background-color: color($colors, dzblauw);
    }

    .button:hover:not(.disable-hover) {
        background-color: color($colors, dzroze);
    }

    .rounded {
        border-top-right-radius: 14px;
        border-bottom-left-radius: 14px;
    }

    a[disabled], button[disabled], [ion-button][disabled] {
        cursor: not-allowed;
        pointer-events: auto;
    }

    .margin-bottom {
        margin-bottom: 8px;
    }

    .input2 {
        border: 1px solid #efefef;
        background-color: #fafafa;
    }

    .copyright {
        color: #999;
    }

    .fail {
        color: color($colors, danger);
    }

}
