<ion-content>
  <ion-fab top right>
    <button ion-fab mini color="dzroze" (click)="newRuimte()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-grid class="table">
    <ion-row style="background-color: #266286">
      <ion-col style="color: white">Naam
          <img src="../../assets/imgs/sortcaretdzdownsmall.png" (click)="sort('naam')" *ngIf="naamsort == 0">
          <img src="../../assets/imgs/sortcaretdzupsmall.png" (click)="sort('naam')" *ngIf="naamsort != 0">
          <ion-input text-left no-margin [(ngModel)]="termsnaam" placeholder="Filter op naam..." (ionChange)="setFilter('naam')"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let ruimte of ruimtes | search : terms : columnname | sort: {property: column, order: order}; let i = index" (click)="editRuimte(ruimte, i)">
      <ion-col>
        {{ruimte.naam}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer text-right style="background-color: #f4f4f4">
  <button ion-button class="button" (click)="openInstellingenPage()" color="dzblauw">Terug naar instellingen</button>
  <button ion-button class="button" (click)="newRuimte()" color="dzblauw">Nieuwe ruimte</button>
</ion-footer>