<ion-content>
  <ion-grid class="table">
    <ion-row style="background-color: #266286" class="table-header">
      <ion-col style="color: white">Weeknr
        <img src="../../assets/imgs/sortcaretdzdownsmall.png" (click)="sort('weeknr')" *ngIf="weeknrsort == 0">
        <img src="../../assets/imgs/sortcaretdzupsmall.png" (click)="sort('weeknr')" *ngIf="weeknrsort != 0">
        <ion-input text-left no-margin [(ngModel)]="termsweeknr" placeholder="Filter op weeknr..." (ionChange)="setFilter('weeknr')"></ion-input>
      </ion-col>
      <ion-col style="color: white">Afdeling
        <img src="../../assets/imgs/sortcaretdzdownsmall.png" (click)="sort('afdeling')" *ngIf="afdelingsort == 0">
        <img src="../../assets/imgs/sortcaretdzupsmall.png" (click)="sort('afdeling')" *ngIf="afdelingsort != 0">
        <ion-input text-left no-margin [(ngModel)]="termsafdeling" placeholder="Filter op afdeling..." (ionChange)="setFilter('afdeling')"></ion-input>
      </ion-col>
      <ion-col style="color: white">Ruimte
        <img src="../../assets/imgs/sortcaretdzdownsmall.png" (click)="sort('ruimte')" *ngIf="ruimtesort == 0">
        <img src="../../assets/imgs/sortcaretdzupsmall.png" (click)="sort('ruimte')" *ngIf="ruimtesort != 0">
        <ion-input text-left no-margin [(ngModel)]="termsruimte" placeholder="Filter op ruimte..." (ionChange)="setFilter('ruimte')"></ion-input>
      </ion-col>
      <ion-col style="color: white">Omschrijving
        <img src="../../assets/imgs/sortcaretdzdownsmall.png" (click)="sort('omschrijving')" *ngIf="omschrijvingsort == 0">
        <img src="../../assets/imgs/sortcaretdzupsmall.png" (click)="sort('omschrijving')" *ngIf="omschrijvingsort != 0">
        <ion-input text-left no-margin [(ngModel)]="termsomschrijving" placeholder="Filter op omschrijving..." (ionChange)="setFilter('omschrijving')"></ion-input>
      </ion-col>
      <ion-col style="color: white">Functie
        <img src="../../assets/imgs/sortcaretdzdownsmall.png" (click)="sort('functie')" *ngIf="functiesort == 0">
        <img src="../../assets/imgs/sortcaretdzupsmall.png" (click)="sort('functie')" *ngIf="functiesort != 0">
        <ion-input text-left no-margin [(ngModel)]="termsfunctie" placeholder="Filter op functie..." (ionChange)="setFilter('functie')"></ion-input>
      </ion-col>
      <ion-col style="color: white">Gespoeld
        <img src="../../assets/imgs/sortcaretdzdownsmall.png" (click)="sort('gespoeld')" *ngIf="gespoeldsort == 0">
        <img src="../../assets/imgs/sortcaretdzupsmall.png" (click)="sort('gespoeld')" *ngIf="gespoeldsort != 0">
        <ion-input text-left no-margin [(ngModel)]="termsgespoeld" placeholder="Filter op gespoeld..." (ionChange)="setFilter('gespoeld')"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let tappunt of tappunten | search : terms : columnname | sort: {property: column, order: order}">
      <ion-col>
        {{tappunt.weeknr}}
      </ion-col>
      <ion-col>
        {{tappunt.afdeling}}
      </ion-col>
      <ion-col>
        {{tappunt.ruimte}}
      </ion-col>
      <ion-col>
        {{tappunt.omschrijving}}
      </ion-col>
      <ion-col>
        {{tappunt.functie}}
      </ion-col>
      <ion-col>
        {{tappunt.gespoeld}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer text-center padding>
  Tappunten gespoeld: {{gespoeldCount}} van {{tappuntenTotalCount}} ({{gespoeldPercentage}}%)
</ion-footer>