<ion-content>
  <ion-fab top right>
    <button ion-fab mini color="dzroze" (click)="newTappuntgroep()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-item style="width: 33%">
    <ion-label>Filter op kolom</ion-label>
    <ion-select [(ngModel)]="columnname">
      <ion-option value="naam">Naam</ion-option>
    </ion-select>
  </ion-item>

  <ion-searchbar *ngIf="columnname" [(ngModel)]="terms" placeholder="Filter op..."></ion-searchbar>

  <ion-grid class="table">
    <ion-row style="background-color: #266286">
      <ion-col style="color: white" (click)="sort('naam')">Naam</ion-col>
    </ion-row>
    <ion-row *ngFor="let tappuntgroep of tappuntengroepen | search : terms : columnname | sort: {property: column, order: order}; let i = index"
      (click)="editTappuntgroep(tappuntgroep, i)">
      <ion-col>
        {{tappuntgroep.naam}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer text-right style="background-color: #f4f4f4">
  <button ion-button class="button" (click)="openInstellingenPage()" color="dz">Terug naar instellingen</button>
  <button ion-button class="button" (click)="newTappuntgroep()" color="dz">Nieuwe tappuntgroep</button>
</ion-footer>