<ion-content>
  <ion-fab top right>
    <button ion-fab mini color="dzroze" (click)="newUser()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-grid class="table">
    <ion-row style="background-color: #266286">
      <ion-col style="color: white">AD naam
        <img src="../../assets/imgs/sortcaretdzdownsmall.png" (click)="sort('AD_naam')" *ngIf="adnaamsort == 0">
        <img src="../../assets/imgs/sortcaretdzupsmall.png" (click)="sort('AD_naam')" *ngIf="adnaamsort != 0">
        <ion-input text-left no-margin [(ngModel)]="termsadnaam" placeholder="Filter op AD naam..." (ionChange)="setFilter('adnaam')"></ion-input>
      </ion-col>
      <ion-col style="color: white">Naam
        <img src="../../assets/imgs/sortcaretdzdownsmall.png" (click)="sort('naam')" *ngIf="naamsort == 0">
        <img src="../../assets/imgs/sortcaretdzupsmall.png" (click)="sort('naam')" *ngIf="naamsort != 0">
        <ion-input text-left no-margin [(ngModel)]="termsnaam" placeholder="Filter op naam..." (ionChange)="setFilter('naam')"></ion-input>
      </ion-col>
      <ion-col style="color: white">Telefoon
        <img src="../../assets/imgs/sortcaretdzdownsmall.png" (click)="sort('telefoon')" *ngIf="telefoonsort == 0">
        <img src="../../assets/imgs/sortcaretdzupsmall.png" (click)="sort('telefoon')" *ngIf="telefoonsort != 0">
        <ion-input text-left no-margin [(ngModel)]="termstelefoon" placeholder="Filter op telefoon..." (ionChange)="setFilter('telefoon')"></ion-input>
      </ion-col>
      <ion-col style="color: white">Beheerder
        <img src="../../assets/imgs/sortcaretdzdownsmall.png" (click)="sort('beheerder')" *ngIf="beheerdersort == 0">
        <img src="../../assets/imgs/sortcaretdzupsmall.png" (click)="sort('beheerder')" *ngIf="beheerdersort != 0">
        <ion-input text-left no-margin [(ngModel)]="termsbeheerder" placeholder="Filter op beheerder..." (ionChange)="setFilter('beheerder')"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let user of users | search : terms : columnname | sort: {property: column, order: order}; let i = index"
      (click)="editUser(user, i)">
      <ion-col>
        {{user.AD_naam}}
      </ion-col>
      <ion-col>
        {{user.naam}}
      </ion-col>
      <ion-col>
        {{user.telefoon}}
      </ion-col>
      <ion-col>
        {{user.beheerder}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer text-right style="background-color: #f4f4f4">
  <button ion-button class="button" (click)="openInstellingenPage()" color="dzblauw">Terug naar instellingen</button>
  <button ion-button class="button" (click)="newUser()" color="dzblauw">Nieuwe gebruiker</button>
</ion-footer>